<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t]  %c{1.} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="INFO" />
		<Logger name="com.zaxxer.hikari" level="INFO" />
		<Logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" />
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>