<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS -->
	<link rel="stylesheet"
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.0.0/css/bootstrap.min.css}">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title>Twitter UCM</title>
</head>
<body>
	<div class="container">
		<form class="form-signin" action="#" th:action="@{/doLogin}" method="POST">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username, email" required="required" autofocus="autofocus" />
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required" />
			<div class="checkbox">
				<label><input type="checkbox" name="remember-me" value="true">Remember me</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>

		<footer><p>© FDI 2015</p></footer>
	</div>
	<!-- JS -->
	<script 
		src="//code.jquery.com/jquery-2.1.1.min.js"
		th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.0.0/js/bootstrap.min.js}"></script>
</body>
</html>